body{
	background-color: darkBlue; 
} 

@keyframes spin{
	from{
		transform:rotate(0deg);
	}

	to{
		transform:rotate(360deg);
	}
}

.snow{
	&.falling{
		.snow-graphic{
			animation:spin 5s infinite;
		}
	}
}

.snow-graphic{
	content:"";
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #fff;
	top:-180%;
	left:-100%;
	border-radius:60%;
}

.collider-back{
	z-index: 0;
}

.collider-mid{
	z-index: 5;
}

.collider-front{
	z-index: 10;
}