body {
  background-color: blue;
}

.snow {
  position: relative;
}
.snow:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: -180%;
  left: -50%;
  border-radius: 100%;
}

.collider-back {
  z-index: 0;
}

.collider-mid {
  z-index: 5;
}

.collider-front {
  z-index: 10;
}
